{% extends 'registration/registration_base.html' %}
{% block title %}Restablecer contraseña | TutoNat{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div id="login">
  <h3 class="text-center login-title">Restablecer contraseña</h3>

  <form action="" method="POST" class="form-box">{% csrf_token %}
    <div class="container">
      <!-- {{ form|crispy }} -->
    <div class="form-group">
      <i class="fas fa-envelope"></i>Email {{ form.email }}
      <span class="danger">{{ form.email.errors }}</span>
    </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary"><small>Solicitar restablecimiento de contraseña</small></button>
  </div>
  </form>
</div>
{% endblock content %}
